<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>부위별 단백질</title>
    <link rel="icon" href="../static/img/Meat.ico">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://kit.fontawesome.com/f1def33959.js" crossorigin="anonymous"></script>
</head>
<body>
   <header>
    <nav class="head">
        <ul class="head-container head-page">
            <li class="head-page-link"><a href="/" class="menu">프로틴</a></li>
            <li class="head-page-link"><a href="/" class="menu">커뮤니티</a></li>
            <li class="head-page-link"><a href="/" class="menu">레시피</a></li>
        </ul>
    </nav>
    </header>

<!-- 배너 -->
   <section class="explain">
    <img src="../static/img/배너.jpg" alt="">
     <!-- 배너 텍스트  
    
    <div class="explain-container">
           <div class="explain-title"></div>
           <div class="explain-message"></div> -->
       </div>
   </section>

<!-- 닭 리스트 -->

   <section> 
        <div class="inner">    
            <div class="proteinlist-container">
             <div class="protein-content"> Chicken</div>
           <ul class="protein-list" data-position="0">
               <li class="protein-card">
                <a href="https://www.rankingdak.com/shop/detail.php?pno=47CE0875420B2DBACFC5535F94E68433&ctype=1&cno1=1655">
                    <img class ="chicken-img"src="../static/img/맛있닭 프로틴훈제.jpg" alt="">
                    <div class="protein-container">
                        <div class="protein-product">
                                <div class="protein-name">맛있닭 닭가슴살 훈제</div>
                            <div class="protein-desc">
                                <div class="protein-mg">31.5g</div>
                                <div class="protein-price">1,650원</div>
                                
                            </div>   
                        </div>
                    </div>
                </a>
               </li>

               <li class="protein-card">
                <a href="https://www.rankingdak.com/shop/detail.php?pno=8012C0DD4AA84EF92DFA2DE0C7163B5A&ctype=1&cno1=1656">
                    <img class ="chicken-img"src="../static/img/잇메이트 소시지.jpg" alt="">
                    <div class="protein-container">
                        <div class="protein-product">
                                <div class="protein-name">잇메이트 닭가슴살 소시지</div>
                            <div class="protein-desc">
                                <div class="protein-mg">23g</div>
                                <div class="protein-price">1,150원</div>
                               
                            </div>   
                        </div>
                    </div>
                </a>
               </li>

               <li class="protein-card">
                <a href="https://www.rankingdak.com/shop/detail.php?pno=E044FB795495FD22D8146E50B961E852&ctype=1&cno1=1657">
                    <img class ="chicken-img"src="../static/img/맛있닭 스테이크.jpg" alt="">
                    <div class="protein-container">
                        <div class="protein-product">
                                <div class="protein-name">맛있닭 스테이크</div>
                            <div class="protein-desc">
                                <div class="protein-mg">22g</div>
                                <div class="protein-price">1,390원</div> 
                            </div>   
                        </div>
                    </div>
                </a>
               </li>
               <li class="protein-card">
                <a href="https://www.rankingdak.com/shop/detail.php?pno=869B61D6A909D51D982BAE4DFD341F0A&ctype=1&cno1=1658">
                    <img class ="chicken-img"src="../static/img/맛있닭 볼.jpg" alt="">
                    <div class="protein-container">
                        <div class="protein-product">
                                <div class="protein-name">맛있닭 볼</div>
                            <div class="protein-desc">
                                <div class="protein-mg">20.7g</div>
                                <div class="protein-price">1,690원</div>
                                
                            </div>   
                        </div>
                    </div>
                </a>
               </li>

               <li class="protein-card">
                <a href="https://www.rankingdak.com/shop/detail.php?pno=F4DB8537E9D75DA46C4EFC36A2D70956&ctype=1&cno1=1817">
                    <img class ="chicken-img"src="../static/img/러브잇 슬라이스.jpg" alt="">
                    <div class="protein-container">
                        <div class="protein-product">
                                <div class="protein-name">러브잇 슬라이스 훈제</div>
                            <div class="protein-desc">
                                <div class="protein-mg">29.7g</div>
                                <div class="protein-price">1,450원</div>
                               
                        </div>
                    </div>
                </a>
               </li>

               <li class="protein-card">
                <a href="https://www.rankingdak.com/shop/detail.php?pno=6AFD3A1BBB557F8E05F45DED7BF96836&ctype=1&cno1=1817">
                    <img class ="chicken-img"src="../static/img/잇메이트 슬라이스 소스.jpg" alt="">
                    <div class="protein-container">
                        <div class="protein-product">
                                <div class="protein-name">러브잇 슬라이스 소스</div>
                            <div class="protein-desc">
                                <div class="protein-mg">30.3g</div>
                                <div class="protein-price">1,990원</div>
                               
                        </div>
                    </div>
                </a>
               </li>

               <li class="protein-card">
                <a href="https://www.rankingdak.com/shop/detail.php?pno=61ADD4DF79C2F21AA7F7DFA9A394FAB9&ctype=1&cno1=1657">
                    <img class ="chicken-img"src="../static/img/치품닭 스테이크.jpg" alt="">
                    <div class="protein-container">
                        <div class="protein-product">
                                <div class="protein-name">치품닭 스테이크</div>
                            <div class="protein-desc">
                                <div class="protein-mg">22g</div>
                                <div class="protein-price">1,590원</div>
                               
                        </div>
                    </div>
                </a>
               </li>
               
           
               
      
               
         
           </ul>
         </div>
        <div class="prev prev-hover"><i class="fas fa-angle-left"></i></div>
        <div class="next next-hover"><i class="fas fa-angle-right"></i></div>
        </div>
        
    
   </section>

 <footer>
 </footer>
  
   
  <a id="backtotop"></a>
<script src="../static/js/main.js"></script>
<script src="../static/js/scroll.js"></script>
</body>
</html>

